.routes,
.routes * {
  box-sizing: border-box;
}
.routes {
  background: #ffffff;
  width: 1440px;
  height: 2953px;
  position: relative;
  overflow: hidden;
}
.bg {
  background: #102437;
  width: 1440px;
  height: 590px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-1 {
  width: 1815px;
  height: 590px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-17556 {
  width: 1440px;
  height: 280px;
  position: static;
}
.ellipse-733 {
  background: #5cabf3;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 1440px;
  top: 170px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  filter: blur(200px);
}
.ellipse-734 {
  background: #9085d1;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 280px;
  top: 170px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  filter: blur(200px);
}
.texts {
  width: 856px;
  height: 152px;
  position: static;
}
.check-out-the-various-routes-available {
  color: #ffffff;
  text-align: center;
  font: 600 70px/76px "Outfit";
  position: absolute;
  left: 295px;
  top: 219px;
  width: 856px;
}
.logo {
  width: 98px;
  height: 34px;
  position: static;
}
.ma3pass {
  text-align: left;
  font: 600 24px/34px "Outfit";
  position: absolute;
  left: 135px;
  top: 27px;
}
.ma3pass-span {
  color: #ffffff;
  font: 600 24px/34px "Outfit";
}
.ma3pass-span2 {
  color: #867aca;
  font: 600 24px/34px "Outfit";
}
.menu {
  width: 382px;
  height: 32px;
  position: static;
}
.rectangle-121 {
  background: #9085d1;
  border-radius: 1px;
  width: 48px;
  height: 2px;
  position: absolute;
  left: 717px;
  top: 61px;
}
.routes {
  color: #ffffff;
  text-align: center;
  font: 400 16px/26px "Outfit";
  position: absolute;
  left: 717px;
  top: 31px;
  width: 48px;
  height: 23px;
}
.how-it-works {
  color: #c3c8cd;
  text-align: center;
  font: 400 16px/26px "Outfit";
  position: absolute;
  left: 585px;
  top: 31px;
  width: 93px;
  height: 25.13px;
}
.home {
  color: #c3c8cd;
  text-align: center;
  font: 400 16px/26px "Outfit";
  position: absolute;
  left: 498px;
  top: 31px;
  width: 48px;
  height: 25.13px;
}
.my-tickets {
  color: #c3c8cd;
  text-align: center;
  font: 400 16px/26px "Outfit";
  position: absolute;
  left: 805px;
  top: 31px;
  width: 75px;
  height: 25.13px;
}
.button {
  width: 119px;
  height: 48px;
  position: static;
}
.rectangle-9 {
  background: #9085d1;
  border-radius: 24px;
  width: 119px;
  height: 48px;
  position: absolute;
  left: 1186px;
  top: 20px;
}
.my-account {
  color: #ffffff;
  text-align: center;
  font: 600 16px/26px "Outfit";
  position: absolute;
  left: 1203px;
  top: 31px;
}
.image-2 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 96px;
  top: 662px;
}
.image-5 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 635px;
  top: 662px;
}
.texts2 {
  width: 184px;
  height: 25px;
  position: static;
}
.nakuru {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 203px;
  top: 886px;
  width: 184px;
  height: 25px;
}
.kisumu {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 740px;
  top: 892px;
  width: 184px;
  height: 25px;
}
.arrow-1 {
  position: absolute;
  left: 527px;
  top: 767px;
  overflow: visible;
}
.texts3 {
  width: 128px;
  height: 44px;
  position: static;
}
._5 {
  color: #102437;
  text-align: left;
  font: 600 100px/56px "Outfit";
  position: absolute;
  left: 1105px;
  top: 719px;
  width: 128px;
  height: 44px;
}
.buses-available {
  color: #102437;
  text-align: left;
  font: 400 40px/10px "Outfit";
  position: absolute;
  left: 1181px;
  top: 719px;
  width: 163px;
  height: 41px;
}
.button2 {
  width: 239px;
  height: 58px;
  position: static;
}
.rectangle-92 {
  background: #9085d1;
  border-radius: 26px;
  width: 239px;
  height: 58px;
  position: absolute;
  left: 1105px;
  top: 815px;
}
.select-bus {
  color: #ffffff;
  text-align: center;
  font: 600 22px/26px "Outfit";
  position: absolute;
  left: 1161.06px;
  top: 829.5px;
  width: 126.88px;
  height: 29px;
}
.image-8 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 96px;
  top: 989px;
}
.kisumu2 {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 201px;
  top: 1219px;
  width: 184px;
  height: 25px;
}
.image-6 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 635px;
  top: 989px;
}
.mombasa {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 740px;
  top: 1219px;
  width: 184px;
  height: 25px;
}
.arrow-2 {
  position: absolute;
  left: 527px;
  top: 1094px;
  overflow: visible;
}
._3 {
  color: #102437;
  text-align: left;
  font: 600 100px/56px "Outfit";
  position: absolute;
  left: 1105px;
  top: 1046px;
  width: 128px;
  height: 44px;
}
.buses-available2 {
  color: #102437;
  text-align: left;
  font: 400 40px/10px "Outfit";
  position: absolute;
  left: 1181px;
  top: 1046px;
  width: 163px;
  height: 41px;
}
.rectangle-93 {
  background: #9085d1;
  border-radius: 26px;
  width: 239px;
  height: 58px;
  position: absolute;
  left: 1105px;
  top: 1142px;
}
.select-bus2 {
  color: #ffffff;
  text-align: center;
  font: 600 22px/26px "Outfit";
  position: absolute;
  left: 1161.06px;
  top: 1156.5px;
  width: 126.88px;
  height: 29px;
}
.image-7 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 96px;
  top: 1316px;
}
.diani {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 199px;
  top: 1546px;
  width: 184px;
  height: 25px;
}
.image-9 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 635px;
  top: 1316px;
}
.malindi {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 738px;
  top: 1546px;
  width: 184px;
  height: 25px;
}
.arrow-3 {
  position: absolute;
  left: 527px;
  top: 1421px;
  overflow: visible;
}
._9 {
  color: #102437;
  text-align: left;
  font: 600 100px/56px "Outfit";
  position: absolute;
  left: 1105px;
  top: 1373px;
  width: 128px;
  height: 44px;
}
.buses-available3 {
  color: #102437;
  text-align: left;
  font: 400 40px/10px "Outfit";
  position: absolute;
  left: 1181px;
  top: 1373px;
  width: 163px;
  height: 41px;
}
.rectangle-94 {
  background: #9085d1;
  border-radius: 26px;
  width: 239px;
  height: 58px;
  position: absolute;
  left: 1105px;
  top: 1469px;
}
.select-bus3 {
  color: #ffffff;
  text-align: center;
  font: 600 22px/26px "Outfit";
  position: absolute;
  left: 1161.06px;
  top: 1483.5px;
  width: 126.88px;
  height: 29px;
}
.image-12 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 96px;
  top: 1643px;
}
.mombasa2 {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 201px;
  top: 1873px;
  width: 184px;
  height: 25px;
}
.image-13 {
  border-radius: 40px;
  width: 394px;
  height: 211px;
  position: absolute;
  left: 635px;
  top: 1643px;
}
.nakuru2 {
  color: #102437;
  text-align: center;
  font: 400 25px/20px "Outfit";
  position: absolute;
  left: 742px;
  top: 1867px;
  width: 184px;
  height: 25px;
}
.arrow-4 {
  position: absolute;
  left: 527px;
  top: 1748px;
  overflow: visible;
}
._2 {
  color: #102437;
  text-align: left;
  font: 600 100px/56px "Outfit";
  position: absolute;
  left: 1105px;
  top: 1700px;
  width: 128px;
  height: 44px;
}
.buses-available4 {
  color: #102437;
  text-align: left;
  font: 400 40px/10px "Outfit";
  position: absolute;
  left: 1181px;
  top: 1700px;
  width: 163px;
  height: 41px;
}
.rectangle-95 {
  background: #9085d1;
  border-radius: 26px;
  width: 239px;
  height: 58px;
  position: absolute;
  left: 1105px;
  top: 1796px;
}
.select-bus4 {
  color: #ffffff;
  text-align: center;
  font: 600 22px/26px "Outfit";
  position: absolute;
  left: 1161.06px;
  top: 1810.5px;
  width: 126.88px;
  height: 29px;
}
.texts4 {
  width: 172px;
  height: 18px;
  position: absolute;
  left: 96px;
  top: 1994px;
}
.more-routes {
  color: #102437;
  text-align: left;
  font: 700 30px/18px "Outfit";
  position: absolute;
  left: 0px;
  top: 0px;
}
.line-1 {
  border: solid #000000;
  border-width: 5px 0 0 0;
  width: 203.04px;
  height: 0px;
  position: absolute;
  left: 93.98px;
  top: 2032px;
}
.arrow-5 {
  position: absolute;
  left: 277px;
  top: 2005px;
  overflow: visible;
}
.footer {
  width: 1440px;
  height: 424px;
  position: static;
}
.group-17558 {
  width: 1440px;
  height: 424px;
  position: static;
}
.bg2 {
  background: #102437;
  width: 1440px;
  height: 424px;
  position: absolute;
  left: -3px;
  top: 2529px;
}
.group-175562 {
  width: 1440px;
  height: 129.89px;
  position: static;
}
.ellipse-7332 {
  background: #5cabf3;
  border-radius: 50%;
  width: 280px;
  height: 129.89px;
  position: absolute;
  left: 1437px;
  top: 2607.86px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  filter: blur(200px);
}
.ellipse-7342 {
  background: #9085d1;
  border-radius: 50%;
  width: 280px;
  height: 129.89px;
  position: absolute;
  left: 277px;
  top: 2607.86px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  filter: blur(200px);
}
.rectangle-179 {
  background: #2f4156;
  width: 1170px;
  height: 1px;
  position: absolute;
  left: 132px;
  top: 2852px;
}
.term---condition {
  color: #7f858a;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 132px;
  top: 2881px;
}
.privacy---policy {
  color: #7f858a;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 349px;
  top: 2881px;
}
.ma3pass-2022 {
  color: #7f858a;
  text-align: right;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1192px;
  top: 2881px;
}
.menu-3 {
  width: 74px;
  height: 178px;
  position: static;
}
.social {
  color: #ffffff;
  text-align: left;
  font: 600 16px/26px "Outfit";
  position: absolute;
  left: 1228px;
  top: 2619px;
}
.instagram {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1228px;
  top: 2665px;
}
.facebook {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1228px;
  top: 2701px;
}
.twitter {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1228px;
  top: 2737px;
}
.linkedin {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1228px;
  top: 2773px;
}
.menu-1 {
  width: 90px;
  height: 178px;
  position: static;
}
.menu2 {
  color: #ffffff;
  text-align: left;
  font: 600 16px/26px "Outfit";
  position: absolute;
  left: 1093px;
  top: 2619px;
}
.home2 {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1093px;
  top: 2665px;
}
.how-it-works2 {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1093px;
  top: 2701px;
}
.routes2 {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1093px;
  top: 2737px;
}
.my-tickets2 {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/24px "Outfit";
  position: absolute;
  left: 1093px;
  top: 2773px;
}
.group-458 {
  width: 290px;
  height: 130px;
  position: static;
}
.search--book-and-pay-for-your-matatu-ticket-the-easy-way-with-ma3pass--travel-with-convenience {
  color: #c3c8cd;
  text-align: left;
  font: 400 16px/26px "Outfit";
  position: absolute;
  left: 132px;
  top: 2695px;
  width: 290px;
}
.ma3pass2 {
  text-align: left;
  font: 600 24px/34px "Outfit";
  position: absolute;
  left: 132px;
  top: 2643px;
}
.ma3pass2-span {
  color: #ffffff;
  font: 600 24px/34px "Outfit";
}
.ma3pass2-span2 {
  color: #9085d1;
  font: 600 24px/34px "Outfit";
}
.cta {
  width: 1440px;
  height: 425px;
  position: static;
}
.bg3 {
  background: #9085d1;
  width: 1440px;
  height: 425px;
  position: absolute;
  left: -3px;
  top: 2104px;
}
.group-66 {
  width: 178px;
  height: 178px;
  position: static;
}
.ellipse-35 {
  background: #867aca;
  border-radius: 50%;
  width: 146px;
  height: 146px;
  position: absolute;
  left: 148px;
  top: 2244px;
}
.ellipse-36 {
  border-radius: 50%;
  border: solid #867aca;
  border-width: 1px;
  width: 178px;
  height: 178px;
  position: absolute;
  left: 132px;
  top: 2228px;
}
.group-67 {
  width: 197.79px;
  height: 233.43px;
  position: static;
}
.rectangle-176 {
  background: #867aca;
  width: 146px;
  height: 184px;
  position: absolute;
  left: 1147.29px;
  top: 2212.93px;
  transform-origin: 0 0;
  transform: rotate(10.052deg) scale(1, 1);
}
.rectangle-177 {
  border: solid #867aca;
  border-width: 1px;
  width: 164px;
  height: 208px;
  position: absolute;
  left: 1140.31px;
  top: 2200px;
  transform-origin: 0 0;
  transform: rotate(10.052deg) scale(1, 1);
}
.group-457 {
  width: 554px;
  height: 245px;
  position: static;
}
.bar {
  width: 422px;
  height: 64px;
  position: static;
}
.mail {
  width: 422px;
  height: 64px;
  position: static;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 32px;
  width: 422px;
  height: 64px;
  position: absolute;
  left: 506px;
  top: 2375px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.input-your-email--- {
  color: #a1a3b6;
  text-align: left;
  font: 400 18px/28px "Outfit";
  position: absolute;
  left: 534px;
  top: 2393px;
}
.button3 {
  width: 139px;
  height: 54px;
  position: static;
}
.rectangle-5 {
  background: #102437;
  border-radius: 32.5px;
  width: 139px;
  height: 54px;
  position: absolute;
  left: 784px;
  top: 2380px;
}
.try-for-free {
  color: #ffffff;
  text-align: center;
  font: 600 18px/28px "Outfit";
  position: absolute;
  left: 807px;
  top: 2393px;
}
.texts5 {
  width: 554px;
  height: 100px;
  position: static;
}
.get-notified-of-new-routes-and-discounts-on-the-go {
  color: #ffffff;
  text-align: center;
  font: 400 16px/26px "Outfit";
  position: absolute;
  left: 534px;
  top: 2268px;
  width: 406px;
}
.subscribe-our-newsletter {
  color: #ffffff;
  text-align: center;
  font: 600 50px/56px "Outfit";
  position: absolute;
  left: 460px;
  top: 2194px;
  width: 554px;
}
.group-4 {
  width: 220px;
  height: 28px;
  position: static;
}
.material-symbols-arrow-drop-down-rounded {
  position: absolute;
  left: 806px;
  top: 505px;
  overflow: visible;
}
.material-symbols-calendar-month {
  position: absolute;
  left: 610px;
  top: 504px;
  overflow: visible;
}
._5th-november-2022 {
  color: #ffffff;
  text-align: center;
  font: 400 18px/28px "Outfit";
  position: absolute;
  left: 645px;
  top: 502px;
}